.barra{
    background-color: black;
    padding: 50px;
  }
  
  .barra2 p{
    margin: 15px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
  
  }

  .barra img{
    float: left;
    width: 20%;
    padding: 15px;
    
  }