.contacto{
    
}

.textocon h3{
    color: rgb(51, 51, 145);
}

.textocon{
    padding-left: 80px;
}

.textocon img{
    float:right;
    padding-right: 80px;
    object-fit: cover;
    
}

.lineacon{
    margin-left: 75px;
    margin-right: 695px;
    padding: 5px;
}

.formulario{
    margin-left: 80px;
    margin-right: 700px;
    
}
@media (max-width: 700px){
    .formulario{
    
    }
}


@media (max-width: 900px){
    .faro__img{
        display: none;

    }
}

@media (max-width: 700px){
    .contacto{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding: 0px;
        margin: -60px;       
    }
}


 @media (max-width: 750px) {
    .textocon p{
        display: flex;
        padding: 0px;
        margin: 0px;
        


    }
} 

/* .faro{
    float: left;
    
} */

.botonen button{
    width: 35%;
    height: 20%;
    font-size: 15px;
    
}


@media (max-width: 700px){
    .botonen{
        width: 150%;
        
    }
}

.campos p{
    font-size: 13px;
}