.traslados{
    color: rgb(51, 51, 145);
    
  }
  
  .transportetex{
    font-size: 20px;
    margin: 20px;
    text-align: left;
    
  }
  
  .transporte img{
      height: 50%;
      width: 50%;
      float: left;
  }
  
  .transporte{
    float: left;
    text-align: center;
    width: 100%;
  }

   .traslados2{
    padding: 20px;
  }

  .boton{
    text-align: left;
    
  }

  .boton a{
    text-decoration: none;
    color: white;
  }